* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
}

html {
    font-family: sans-serif;
    font-size: 5vh;
    line-height: 1.2;
    overflow: hidden;
    scroll-behavior: smooth;
}

#title-block-header, .level2, .level1 h1 {
    height: 100vh;
    width: 100vw;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-block-header {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    margin: .5rem;
    text-align: center;
}

img {
    display: inline;
    max-height: 100%;
    max-width: 100%;
}

a {
    color: #4169e1;
}

ul {
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}

blockquote {
    border-left: .2rem #aaa solid;
    padding: .5rem 1rem;
    margin: 1rem 0;
    font-style: italic;
    color: #666;
}

pre {
    background-color: #eee;
    padding: .2rem;
    font-size: .6rem;
    line-height: 1.5;
}

:not(h2) > code {
    background-color: #eee;
}

table {
    border-spacing: 0;
}

tbody tr:nth-child(odd) {
    background: #f2f2f2;
}

td, th {
    border-top: 1px solid #dee2e6;
    padding: 2vh;
}

figure {
    text-align: center;
}

figcaption {
    font-size: .5rem;
}
